@import "tailwindcss";

@layer base {
  body {
    @apply text-zinc-50 tracking-tight;
    font-feature-settings: "rlig" 1, "calt" 1;
    background: radial-gradient(circle at 50% 0%, #171124, #0a0a0a);
    background-attachment: fixed;
    min-height: 100vh;
  }
}

.glass-panel {
  @apply bg-white/5 backdrop-blur-xl border border-white/10 shadow-2xl;
}